@{
    if (@ViewBag.Logado == "1")
    {
        Layout = "MasterPageLogado";
    } else {
        Layout = "MasterPageDeslogado";
    }
}

<main>
<h1 class="ma-top-g">Cadastrar Tarefa</h1>

<form action="/Tarefa/Cadastrar" method="POST">
    <label>
        <input class="inpt" placeholder="Insira o nome da transação" type="text" name="nome" required>
    </label>

    <label>
        <textarea class="inpt" placeholder="Insira a descrição da transação" type="text" name="descricao"></textarea>
    </label>

    <label>
        <label>
        Para Fazer
        <input type="radio" name="tipo" value="paraFazer">
        </label>

        <label>
        Fazendo
        <input type="radio" name="tipo" value="fazendo">
        </label>

        <label>
        Feito
        <input type="radio" name="tipo" value="feito">
        </label>
    </label>

    <button class="btn" type="submit">Cadastrar Tarefa</button>
</form>
</main>