<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TaskMn22</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>
    <header>
        <nav id="top-bar">
            <ul>
                <li><a href="/Usuario/Cadastrar">Cadastrar Usuário</a></li>
                <li><a href="/Usuario/Login">Logar</a></li>
            </ul>
        </nav>
    </header>
    @ViewBag.Mensagem
    @RenderBody()
</body>
</html>