* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Segoe UI';
}

.menu {
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 56px;
    position: fixed;
}

.menu ul {
    list-style-type: none;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 14px 28px;
}

.menu li:not(.redes-sociais) a:hover{
    background-color: #2424BA;
    transition: all 0.3s;
}

.redes-sociais {
    display: flex;
    flex: 1;
    max-width: 200px;
    align-items: center;
    justify-content: space-between;
}

.redes-sociais-item {
    height: 40px;
    padding: 6px 23px;
    width: 40px;
}

#banner {
    height: 100vh;
    background-image: url("../img/computer-coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner p {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

#MySkillsAndAboutMe {
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid black;
}

#aboutMe {
    flex: 1;
    background-color: #2424BA;

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

#aboutMe p {
    font-size: 1.4em;
    color: white;
}

#mySkills {
    flex: 1;
    background-color: #141466;
    border-left: 10px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-skills-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-skills-item h3, span {
    color: white;
    font-weight: 300;
}

.my-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.my-justify {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

/* Backgrounds */
.pinterest {
    background-image: url("../img/pinterest-icon.png");
    background-repeat: no-repeat;
}

.github {
    background-repeat: no-repeat;
    background-image: url("../img/github-icon.png");
}

.linkedin {
    background-repeat: no-repeat;
    background-image: url("../img/linkedin-icon.png");
}

.branco {
    color: white;
}

.preto {
    color: black;
}

/* Tipografia */

h1 {
    font-size: 8em;
    font-weight: 400;
    color: white;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

h3 {
    font-size: 1.75rem;
}

/* Margins e paddings */
.ma-top-g {
    margin-top: 40px;
}

.ma-top-m {
    margin-top: 20px;
}

.ma-top-p {
    margin-top: 10px;
}

.pa-all-g {
    padding: 40px;
}

/* Progression Circle Bar */

.progress-bar1 {
    position: relative;
    height: 100px;
    width: 100px;
    margin:0 auto;
  }
   
  .progress-bar1 div {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
   
  .progress-bar1 div span {
    position: absolute;
    font-family: 'Segoe UI';
    font-weight: 300;
    font-size: 25px;
    line-height: 75px;
    height: 75px;
    width: 75px;
    left: 12.5px;
    top: 12.5px;
    text-align: center;
    border-radius: 50%;
    background-color: #141466;
    color: white;
  }
   
  /* .progress-bar1 div span { Backup
    position: absolute;
    font-family: Arial;
    font-size: 25px;
    line-height: 75px;
    height: 75px;
    width: 75px;
    left: 12.5px;
    top: 12.5px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
  } */

  .progress-bar1 .background { background-color: #b3cef6; }
   
  .progress-bar1 .rotate {
    clip: rect(0 50px 100px 0);
    background-color: #4b86db;
  }
   
  .progress-bar1 .left {
    clip: rect(0 50px 100px 0);
    opacity: 1;
    background-color: #b3cef6;
  }
   
  .progress-bar1 .right {
    clip: rect(0 50px 100px 0);
    transform: rotate(180deg);
    opacity: 0;
    background-color: #4b86db;
  }
   
  @keyframes
  toggle {  0% {
   opacity: 0;
  }
   100% {
   opacity: 1;
  }
  }  